.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

// 
// .icon_boom {
//   font-size:(60/10)*1rem;
//   width:(115/60)*1em;
// }
// 
// .icon_lamp {
//   font-size:(60/10)*1rem;
//   width:(131/60)*1em;
// }
// 
// .icon_lights {
//   font-size:(60/10)*1rem;
//   width:(194/60)*1em;
// }
// 
// .icon_logo {
//   font-size:(15/10)*1rem;
//   width:(88/15)*1em;
// }
// 
