.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

// 
// .icon_arrow-down {
//   font-size:(16/10)*1rem;
//   width:(31/16)*1em;
// }
// 
// .icon_arrow-next {
//   font-size:(25/10)*1rem;
//   width:(24/25)*1em;
// }
// 
// .icon_arrow-prev {
//   font-size:(25/10)*1rem;
//   width:(24/25)*1em;
// }
// 
// .icon_attention {
//   font-size:(20/10)*1rem;
//   width:(20/20)*1em;
// }
// 
// .icon_boom {
//   font-size:(60/10)*1rem;
//   width:(115/60)*1em;
// }
// 
// .icon_clock {
//   font-size:(23/10)*1rem;
//   width:(21/23)*1em;
// }
// 
// .icon_dimond {
//   font-size:(22/10)*1rem;
//   width:(30/22)*1em;
// }
// 
// .icon_discord {
//   font-size:(11/10)*1rem;
//   width:(14/11)*1em;
// }
// 
// .icon_facebook {
//   font-size:(14/10)*1rem;
//   width:(14/14)*1em;
// }
// 
// .icon_instagram {
//   font-size:(14/10)*1rem;
//   width:(14/14)*1em;
// }
// 
// .icon_lamp {
//   font-size:(60/10)*1rem;
//   width:(131/60)*1em;
// }
// 
// .icon_lights {
//   font-size:(60/10)*1rem;
//   width:(194/60)*1em;
// }
// 
// .icon_logo {
//   font-size:(15/10)*1rem;
//   width:(88/15)*1em;
// }
// 
// .icon_star {
//   font-size:(21/10)*1rem;
//   width:(21/21)*1em;
// }
// 
// .icon_telegram {
//   font-size:(12/10)*1rem;
//   width:(15/12)*1em;
// }
// 
// .icon_twitter {
//   font-size:(11/10)*1rem;
//   width:(14/11)*1em;
// }
// 
