<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Memories</title>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> -->

	<link rel="stylesheet" href="/css/styles.css" />

	<!-- <script src="js/libs/jquery-3.6.0.min.js"></script>
      <script src="js/libs/slick.min.js"></script>
      <script src="js/libs/jquery.fancybox.min.js"></script> -->
	<script src="js/script.js"></script>
</head>

<body class="main" id="mainContent">

	<section class="main__action-section action-section" id="js-header-timer">
		<div class="action-section__container container">
			<div class="action-section__wrap">
				<!-- <img src="../img/boom.png" alt="" class="action-section__decor action-section__decor--mod-2">
				<img src="../img/lamp.png" alt="" class="action-section__decor action-section__decor--mod-1"> -->
				<div class="action-section__sail">
					<!-- <img src="../img/procent.png" alt="" class="action-section__sail-img"> -->
					<div class="action-section__sail-title">70% Discount</div>
					<span class="action-section__sail-days">Ends In <span id="js-days--action-xs">0</span>
						days</span>
				</div>
				<div class="action-section__time" id="js-counter">
					<div class="action-section__time-days">
						<span>Ends In <span id="js-days">0</span> days</span>
					</div>
					<div class="action-section__time-clock">
						<span class="action-section__time-hour" id="h">0</span><span> :</span>
						<span class="action-section__time-minutes" id="m">0</span><span> :</span>
						<span id="s">0</span>
					</div>
				</div>
				<div class="action-section__btn">
					<a href="#" class="btn btn--blue btn--sm">Buy now</a>
				</div>
			</div>
		</div>
	</section>

	<header class="haeder main__header">
		<div class="header__container container">
			<div class="header__logo">
				<a href="/">
					<svg>
						<use xlink:href="/img/sprite-svg.svg#logo">
					</svg>
				</a>
			</div>
			<nav class="header__menu" id="js-nav-menu">
				<ul class="nav-block">
					<li class="nav-block__item"><a class="js-nav-link" href="#about-section">Что это?</a></li>
					<li class="nav-block__item">
						<a class="js-nav-link" href="#improve-section">Кому подойдет</a>
					</li>
					<li class="nav-block__item">
						<a class="js-nav-link" href="#skills-section">Что Вы улучшите</a>
					</li>
					<li class="nav-block__item">
						<a class="js-nav-link" href="#usable-section">Гарантия качества</a>
					</li>
					<li class="nav-block__item"><a class="js-nav-link" href="#clients-section">Отзывы</a></li>
					<li class="nav-block__item"><a class="js-nav-link" href="#faq-section">FAQ</a></li>
				</ul>
			</nav>
			<div class="header__burger-menu burger-menu js-burger-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>


	<section class="main__banner banner-section" id="banner-section">
		<div class="banner-section__container container">
			<div class="banner-section__info">
				<h1 class="banner-section__title"><span>7 секретных техник</span> как быстро и надежно
					запоминать информацию по методике школы шпионов КГБ</h1>
				<a href="#" class="btn btn--blue">Приобрести</a>
			</div>
			<img src="img/banner-brain.png" alt="" class="banner-section__img">
		</div>
	</section>
	<section class="main__about-section about-section" id="about-section">
		<div class="about-section__container container">
			<div class="about-section__row row">
				<div class="about-section__info col-9 col-sm-10 col-xs-12">
					<div class="about-section__title title-h2">Военные психологи накопили огромный опыт подготовки
						сотрудников, способных быстро и надежно запоминать информацию</div>
					<div class="about-section__slogan slogan-block">Было бы глупо не воспользоваться их
						разработками.</div>
					<div class="about-section__text">Мы провели интервью с 3 бывшими оперативными агентами КГБ и
						прочитали тонну очень труднодоступной информации, чтоб выбрать
						самые действенные методики, которые смогут улучшить ваши показатели памяти, концентрации
						внимание и воображения уже в первые 10 дней.
					</div>
				</div>
				<!-- <img src="../img/graph.png" alt="" class="about-section__img-lg">
				<img src="../img/graph-xs.png" alt="" class="about-section__img-sm"> -->
				<div class="about-section__img">
					<picture>
						<source media="(max-width: 640px)" srcset="../img/graph-xs.png">
						<img src="../img/graph.png" alt="">
					</picture>
				</div>

			</div>
		</div>
	</section>
	<section class="main__improve-section improve-section" id="improve-section">
		<div class="improve-section__container container">
			<div class="improve-section__row row">
				<div class="improve-section__item col-6 col-sm-12">
					<div class="adavantage-block adavantage-block--blue">
						<div class="adavantage-block__info">
							<div class="adavantage-block__img">
								<img src="../img/improve-1.png" alt="">
							</div>
							<div class="adavantage-block__title title-h3">Ты студент?</div>
							<div class="adavantage-block__text">Ты сможешь быстрее запоминать и усваивать
								изученный материалы</div>
						</div>
						<a href="#" class="adavantage-block__link">
							<span>Попробовать</span>
							<svg>
								<use xlink:href="img/sprite-svg.svg#more"></use>
							</svg>
						</a>
					</div>
				</div>

				<div class="improve-section__item col-6 col-sm-12">
					<div class="adavantage-block adavantage-block--orange">
						<div class="adavantage-block__info">
							<div class="adavantage-block__img">
								<img src="../img/improve-2.png" alt="">
							</div>
							<div class="adavantage-block__title title-h3">Тебе 50+? </div>
							<div class="adavantage-block__text">Вы улучшите концентрацию внимания и ясность
								мышления. Вспомнить где лежат ключи или выключен утюг, больше не будет проблемой.
							</div>
						</div>
						<a href="#" class="adavantage-block__link">
							<span>Попробовать</span>
							<svg>
								<use xlink:href="img/sprite-svg.svg#more"></use>
							</svg>
						</a>
					</div>
				</div>

				<div class="improve-section__item col-6 col-sm-12">
					<div class="adavantage-block adavantage-block--blue-dark">
						<div class="adavantage-block__info">
							<div class="adavantage-block__img">
								<img src="../img/improve-4.png" alt="">
							</div>
							<div class="adavantage-block__title title-h3">Есть Ребенок?</div>
							<div class="adavantage-block__text">Если начать с детства развивать память, вы
								увеличите интеллект вашего ребёнка на 23% тем самым подарите ему совершенно другую
								жизнь.</div>
						</div>
						<a href="#" class="adavantage-block__link">
							<span>Попробовать</span>
							<svg>
								<use xlink:href="img/sprite-svg.svg#more"></use>
							</svg>
						</a>
					</div>
				</div>

				<div class="improve-section__item col-6 col-sm-12">
					<div class="adavantage-block adavantage-block--grey">
						<div class="adavantage-block__info">
							<div class="adavantage-block__img">
								<img src="../img/improve-3.png" alt="">
							</div>
							<div class="adavantage-block__title title-h3">Ты учишь Языки или хочешь овладеть
								новой профессией?</div>
							<div class="adavantage-block__text">Научись правильно запоминать информацию так,
								чтоб уже не забыть ее никогда.</div>
						</div>
						<a href="#" class="adavantage-block__link">
							<span>Попробовать</span>
							<svg>
								<use xlink:href="img/sprite-svg.svg#more"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main__fact-section fact-section">
		<div class="fact-section__container container">
			<div class="fact-section__slogan slogan-block">Научный факт</div>
			<div class="fact-section__text"><span>Ваш мозг может вмещать</span> <strong> 2,500,000.000 </strong>
				<span>гигабайт информации</span>
			</div>
		</div>
	</section>
	<section class="main__skills-section skills-section" id="skills-section">
		<div class="skills-section__container container">
			<div class="skills-section__title title-h2">Что вы улучшите? </div>
			<div class="skills-section__items row row--stretch">
				<div class="skills-section__col col-6 col-sm-12">
					<div class="skills-section__item">
						<div class="skills-section__item-icon">
							<svg>
								<use xlink:href="/img/sprite-svg.svg#dimond">
							</svg>
						</div>
						<div class="skills-section__item-title">Логическое мышление </div>
					</div>
				</div>
				<div class="skills-section__col col-6 col-sm-12">
					<div class="skills-section__item">
						<div class="skills-section__item-icon">
							<svg>
								<use xlink:href="/img/sprite-svg.svg#dimond">
							</svg>
						</div>
						<div class="skills-section__item-title">Повысится концентрация внимания</div>
					</div>
				</div>
				<div class="skills-section__col col-6 col-sm-12">
					<div class="skills-section__item">
						<div class="skills-section__item-icon">
							<svg>
								<use xlink:href="/img/sprite-svg.svg#dimond">
							</svg>
						</div>
						<div class="skills-section__item-title">Научитесь запоминать и усваивать большие объёмы
							информации</div>
					</div>
				</div>
				<div class="skills-section__col col-6 col-sm-12">
					<div class="skills-section__item">
						<div class="skills-section__item-icon">
							<svg>
								<use xlink:href="/img/sprite-svg.svg#dimond">
							</svg>
						</div>
						<div class="skills-section__item-title">Профилактика таких болезней как Деменция и
							Альцгеймер</div>
					</div>
				</div>
				<div class="skills-section__col col-6 col-sm-12">
					<div class="skills-section__item">
						<div class="skills-section__item-icon">
							<svg>
								<use xlink:href="/img/sprite-svg.svg#dimond">
							</svg>
						</div>
						<div class="skills-section__item-title">Улучшится реакция</div>
					</div>
				</div>
				<div class="skills-section__col col-6 col-sm-12">
					<div class="skills-section__item">
						<div class="skills-section__item-icon">
							<svg>
								<use xlink:href="/img/sprite-svg.svg#dimond">
							</svg>
						</div>
						<div class="skills-section__item-title">Разовьётся воображение</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main__quality-section quality-section">
		<div class="quality-section__container container">
			<div class="quality-section__slogan slogan-block">Измеритель качества</div>
			<div class="quality-section__info">
				<div class="quality-section__score">
					<div class="quality-section__score-items">
						<div class="quality-section__score-icon">
							<svg>
								<use xlink:href="/img/sprite-svg.svg#attention">
							</svg>
						</div>
						<div class="quality-section__score-title">Очень хорошо</div>
						<div class="quality-section__score-count">(<span> 10 943 </span>проголосовавших )</div>
					</div>
					<div class="quality-section__score-subtitle">*вы сможете проголосовать после покупки</div>
				</div>
			</div>
			<div class="quality-section__speed" id="spidometr">
				<div class="quality-section__speed-panel">
					<img src="../img/panel.svg" alt="">
				</div>
				<div class="quality-section__speed-arrow">
					<img src="../img/speed-arrow.svg" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="main__usable-section usable-section" id="usable-section">
		<div class="usable-section__container container">
			<div class="usable-section__head">
				<div class="usable-section__info">
					<div class="usable-section__title title-h2">Как применять? </div>
					<div class="usable-section__subtitle">Ты получишь секретный материал с техниками и
						упражнениями на почту. </div>
					<div class="usable-section__banner">
						<div class="usable-section__banner-icon">
							<svg>
								<use xlink:href="img/sprite-svg.svg#attention2"></use>
							</svg>
						</div>
						<div class="usable-section__banner-text">Уделяй всего 10-15 минут в день на тренировки и
							уже через 10 дней ты увидишь результат. </div>
					</div>
				</div>
				<img src="../img/usable.png" alt="" class="usable-section__img">
			</div>
		</div>
	</section>
	<section class="warrenty-section improve-section improve-section--mode">
		<div class="improve-section__container container">
			<div class="improve-section__row row">
				<div class="improve-section__item col-6 col-sm-12">
					<div class="adavantage-block adavantage-block--green">
						<div class="adavantage-block__info">
							<div class="adavantage-block__img">
								<img src="../img/usable-cart-1.png" alt="">
							</div>
							<div class="adavantage-block__title title-h3">Проверено!</div>
							<div class="adavantage-block__text">Уже в первый день вы узнаете технику как с
								легкостью запомнить все номера ваших кредитных карт и паролем к ним</div>
						</div>
					</div>
				</div>
				<div class="improve-section__item col-6 col-sm-12">
					<div class="adavantage-block adavantage-block--blue">
						<div class="adavantage-block__info">
							<div class="adavantage-block__img">
								<img src="../img/usable-cart-2.png" alt="">
							</div>
							<div class="adavantage-block__title title-h3">Гарантия качества </div>
							<div class="adavantage-block__text">100% Возврат денег если вам не пригодился данный
								материал.<br>Вы ничем не рискуете.<br>Просто напишите нам на почту, и мы вернем вам
								деньги.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="main__clients-section clients-section" id="clients-section">
		<div class="clients-section__container container">
			<div class="clients-section__title title-h2">Познакомтесь с нашими клиентами и их отзывами</div>
			<div class="clients-section__slider slider-block slider-block--carousel">
				<div class="js-comments-slider">
					<div class="slider-block__slide">
						<div class="review-block">
							<div class="review-block__head">
								<div class="review-block__user user-block">
									<img src="../img/user.jpg" class="user-block__logo">
									<div class="user-block__info">
										<div class="user-block__date">14 Июля 2022</div>
										<div class="user-block__name">Татьяна Комкова</div>
									</div>
								</div>
								<div class="review-block__user-stars">
									<div class="stars-block stars-block--4">
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="review-block__text"> Мы провели интервью с 3 бывшими оперативными агентами
								КГБ и прочитали тонну очень труднодоступной информации, чтоб выбрать самые
								действенные методик</div>
							<div class="review-block__user-stars">
								<div class="stars-block stars-block--4 stars-block--xs">
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-block__slide">
						<a href="../img/video.png" class="vide-block js-fancybox">
							<img class="vide-block__img" src="../img/video.png" alt="">
							<img class="vide-block__img-play" src="../img/play.png" alt="">
							<div class="vide-block__user user-block user-block--mode">
								<img src="../img/user.jpg" class="user-block__logo">
								<div class="user-block__info">
									<div class="user-block__date">14 Июля 2022</div>
									<div class="user-block__name">Татьяна Комкова</div>
								</div>
							</div>
						</a>
					</div>
					<div class="slider-block__slide">
						<div class="review-block">
							<div class="review-block__head">
								<div class="review-block__user user-block">
									<img src="../img/user.jpg" class="user-block__logo">
									<div class="user-block__info">
										<div class="user-block__date">14 Июля 2022</div>
										<div class="user-block__name">Татьяна Комкова</div>
									</div>
								</div>
								<div class="review-block__user-stars">
									<div class="stars-block stars-block--4">
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
										<div class="stars-block__star">
											<svg>
												<use xlink:href="/img/sprite-svg.svg#star">
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="review-block__text"> Мы провели интервью с 3 бывшими оперативными агентами
								КГБ и прочитали тонну очень труднодоступной информации, чтоб выбрать самые
								действенные методик</div>
							<div class="review-block__user-stars">
								<div class="stars-block stars-block--4 stars-block--xs">
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
									<div class="stars-block__star">
										<svg>
											<use xlink:href="/img/sprite-svg.svg#star">
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="slider-block__arrows">
					<button type="button" aria-label="Previous" role="button"
						class="js-comments-slider-prev slick-arrow slick-arrow--prev">
						<svg>
							<use xlink:href="/img/sprite-svg.svg#arrow-prev"></use>
						</svg>
					</button>
					<button ttype="button" aria-label="Next" role="button"
						class="js-comments-slider-next slick-arrow slick-arrow--next">
						<svg>
							<use xlink:href="/img/sprite-svg.svg#arrow-next"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>

	<section class="main__action-banner-section" id="action-banner-section">
		<div class="main__cintainer container">
			<div class="action-banner-section">
				<div class="action-banner-section__info">
					<div class="action-banner-section__title title-h2">7 секретных методик по быстрому улучшению памяти
					</div>
					<div class="action-banner-section__price">
						<div class="action-banner-section__price-new">300 ₴</div>
						<div class="action-banner-section__price-old">1000 ₴</div>
					</div>
					<div class="action-banner-section__sail">
						<span>Скидка 700 ₴</span>
						<div class="action-banner-section__sail-count">-70%</div>
					</div>
					<div class="action-banner-section__time">
						<svg class="action-banner-section__time-icon action-banner-section__time-icon--xs">
							<use xlink:href="/img/sprite-svg.svg#clock">
						</svg>
						<div class="action-banner-section__time-wrap">
							<svg class="action-banner-section__time-icon">
								<use xlink:href="/img/sprite-svg.svg#clock">
							</svg>
							<span class="action-banner-section__time-text">Данная цена доступна еще</span>
							<span class="action-banner-section__time-text action-banner-section__time-text--days"
								id="main-action-days">0</span>
							<span class="action-banner-section__time-text">дней</span>
							<div class="action-banner-section__clock">
								<span id="main-action-hour">0</span>
								<span>:</span>
								<span id="main-action-minutes">0</span>
								<span>:</span>
								<span id="main-action-seconds">0</span>
							</div>
						</div>

					</div>
					<a href="#" class="action-banner-section__btn btn btn--yellow btn--sm-bold">Приобрести</a>
				</div>
				<div class="action-banner-section__right">
					<picture class="action-banner-section__right-img">
						<source media="(max-width: 998px)" srcset="../img/book-xs.png">
						<img src="../img/book.png" alt="">
					</picture>
					<img src="../img/lock-left.png" alt="" class="action-banner-section__right-decor-left">
					<img src="../img/lock-right.png" alt="" class="action-banner-section__right-decor-right">
				</div>
			</div>

		</div>
	</section>
	<section class="main__faq-section faq-section" id="faq-section">
		<div class="faq-section__cintainer container">
			<div class="faq-section__slogan">
				<div class="slogan-block">FAQ</div>
			</div>
			<div class="faq-section__title title-h2">Часто задаваемые вопросы</div>
			<div class="faq-section__accardions">
				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Сколько нужно заниматься в день?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>

				<div class="faq-section__accardion accardion-block">
					<div class="accardion-block__container">
						<div class="accardion-block__head js-accardion-toggle">
							<div class="accardion-block__left">
								<div class="accardion-block__title">Когда будут первые результаты?
								</div>
							</div>
							<div class="accardion-block__arrow">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#arrow-down">
								</svg>
							</div>
						</div>
						<div class="accardion-block__body js-accardion-body"><a class="accardion-block__item"
								href="#">Всего 10-15 минут в день дадут вам ощутимый результат</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="main__footer-section footer-section">
		<div class="footer-section__container container">
			<div class="footer-section__wrap">
				<div class="footer-section__top">
					<a href="#" class="footer-section__logo">
						<svg>
							<use xlink:href="/img/sprite-svg.svg#logo">
						</svg>
					</a>
					<div class="footer-section__mail">Связаться <a href="mailto:email@gmail.com"> email@gmail.com</a>
					</div>
					<div class="footer-section__soc-list">
						<ul class="soc-list-block">
							<a href="#" class="soc-list-block__item">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#instagram">
								</svg>
							</a>
							<a href="#" class="soc-list-block__item">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#telegram">
								</svg>
							</a>
							<a href="#" class="soc-list-block__item">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#twitter">
								</svg>
							</a>
							<a href="#" class="soc-list-block__item">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#facebook">
								</svg>
							</a>
							<a href="#" class="soc-list-block__item">
								<svg>
									<use xlink:href="/img/sprite-svg.svg#discord">
								</svg>
							</a>
						</ul>
					</div>

				</div>
				<div class="footer-section__bottom">
					<div class="footer-section__links">
						<a href="#" class="footer-section__link">Политика конфиденциальности</a>
						<a href="#" class="footer-section__link">Политика конфиденциальности</a>
					</div>
					<div class="footer-section__right">
						<div class="footer-section__cards">
							<div class="footer-section__pay">
								<img src="../img/visa.svg" alt="">
							</div>
							<div class="footer-section__pay">
								<img src="../img/ms-card.svg" alt="">
							</div>
						</div>
						<div class="footer-section__rights"> 2022ⒸAll rights reserved</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>