.about-section {
	// margin: 0;
	position: relative;
	/* max-width: 1150px;
	padding: 0 15px;
	margin: 0 auto; */

	@include media($xs) {
		padding: 48px 0 16px;
	}

	&__container {
		position: relative;
		padding-bottom: 242px;

		@include media($xs) {
			padding-bottom: 0;
		}
	}
	&__info {
	}
	&__title {
		margin-bottom: 20px;
		max-width: 810px;
	}

	&__slogan {
		margin-bottom: 20px;
		@include media($md) {
			text-align: center;
		}
	}

	&__text {
		max-width: 810px;
		@include media($xs) {
			line-height: 28px;
		}
	}

	&__img {
		img {
			max-width: none;
			display: block;
			position: absolute;
			right: 15px;
			bottom: 18px;

			@include media($md) {
				max-width: 100%;
			}
			@include media($xs) {
				max-width: 400px;
				display: block;
				position: static;
				width: 100%;
			}
		}
		@include media($xs) {
			margin: 0 auto;
		}

		&-sm {
			padding: 0 15px;
			display: none;
			max-width: 400px;
			@include media($xs) {
				display: block;
				width: 100%;
			}
		}
	}
}
