.about-section {
	// margin: 0;
	position: relative;
	/* max-width: 1150px;
	padding: 0 15px;
	margin: 0 auto; */
	@include media($xs) {
		padding: 48px 0 16px;
	}

	&__container {
		position: relative;
	}
	&__info {
	}
	&__title {
		margin-bottom: 20px;
		max-width: 810px;
	}

	&__slogan {
		margin-bottom: 20px;
		@include media($md) {
			text-align: center;
		}
	}

	&__text {
		max-width: 810px;
		@include media($xs) {
			line-height: 28px;
		}
	}

	&__img {
		width: 100%;
		object-fit: contain;
		&-lg {
			display: block;
			position: absolute;
			/* padding: 0 15px; */
			right: 15px;
			bottom: 15px;

			@include media($xs) {
				display: none;
			}
		}
		&-sm {
			padding: 0 15px;
			margin: 0 auto;
			display: none;
			max-width: 400px;
			position: relative;
			@include media($xs) {
				display: block;
				width: 100%;
			}
		}
	}
}
