.fact-section {
	padding: 28px 0 9px;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	@include flex(0,center,center);
	margin-bottom: -13px;
	@include media($sm) {
		padding: 17px 0;
	}
	&__container {
		display: flex;
	}
	&__slogan {
		margin-right: 20px;
		margin-bottom: 13px;
		font: 600 20px/24px $baseFF;
		@include media($sm) {
			font: 600 12px/14px $baseFF;
			margin-right: 0;
			width: 100%;
			text-align: center;
		}
	}

	&__text {
		@include flex(0,center,center);
		margin-bottom: 13px;
		font: 500 25px/32px $baseFF;
		span {
			@include media($xs) {
				&:nth-child(1) {
					width: 100%;
				}
			}
		}
		strong {
			margin: 0 25px;
			font: 700 28px/32px $baseFF;
			@include media($xs) {
				margin-left: 0;
				margin-right: 7px;
			}
		}
		
		@include media($sm) {
			font: 500 15px/22px $baseFF;
			margin-bottom: 0;
		}
	}
}
