.header {
	position: relative;
	min-height: 64px;
	z-index: 10;
	background-color: $white;

	@include media($sm) {
		min-height: 56px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		svg {
			fill: $logo-color;
			width: 87px;
			height: 14px;
		}
		@include media($xs) {
			margin-left: 10px;
		}
	}

	&__menu {
		padding: 21px 0;
		z-index: 10;

		@include media($sm) {
			top: 56px;
			transition: all 0.4s;
			position: absolute;
			right: -100%;
			height: 100vh;
			background-color: $white;
			width: 295px;
		}
		&.is-active {
			right: 0;
			transition: all 0.3s;
		}
	}
}
