.improve-section {
	&__row {
		gap: 32px 0;
		@include media($sm) {
			gap: 12px 0;
		}
	}
	&__item {
		display: grid;
		grid-gap: 32px 0;
		width: 100%;
		color: $white;
		&-bg {
			@include flex(space-between, 0, 0, 0, column);
			text-align: center;
			min-height: 560px;
			border-radius: 24px;
			padding: 55px 41px 31px;
			@include media($sm) {
				min-height: 325px;
				padding: 22px 31px 25px;
			}
			&--blue {
				background-color: #3e3be7;
			}
			&--orange {
				background-color: #ff7a55;
			}
			&--blue-dark {
				background-color: #312faa;
			}
			&--grey {
				background-color: #262626;
			}
			&--green {
				background-color: #41a273;
			}
		}
	}

	&__item-img {
		display: block;
		margin: 0 auto 22px;
		max-height: 203px;
		@include media($sm) {
			max-height: 140px;
			margin-bottom: 27px;
		}
	}

	&__item-title {
	}

	&__item-text {
		@include media($sm) {
			margin-bottom: 15px;
		}
	}

	&__item-link {
		display: flex;
		margin: 0 auto;
		align-items: center;
		width: fit-content;
		span {
			color: $white;
			font-size: 19px;
			margin-right: 15px;
			@include media($sm) {
				margin-right: 6px;
				font: 500 14px/22px $baseFF;
			}
		}
		svg {
			width: 7px;
			height: 14px;
			@include media($sm) {
				width: 5px;
				height: 10px;
			}
		}
	}
	&--mode & {
		&__item {
			&-text {
				margin-bottom: 0;
			}
			&-info {
				@include media($xs) {
					margin-top: 13px;
				}
			}
		}
	}
}
