.improve-section {
	&__row {
		gap: 32px 0;
		@include media($sm) {
			gap: 12px 0;
		}
	}
	&__item {
		display: grid;
		grid-gap: 32px 0;
		width: 100%;
		/* color: $white; */
		/* &-bg {
			@include flex(space-between, 0, 0, 0, column);
			text-align: center;
			min-height: 560px;
			border-radius: 24px;
			padding: 55px 41px 31px;
			@include media($sm) {
				min-height: 325px;
				padding: 22px 31px 25px;
			}
			&--blue {
				background-color: #3e3be7;
			}
			&--orange {
				background-color: #ff7a55;
			}
			&--blue-dark {
				background-color: #312faa;
			}
			&--grey {
				background-color: #262626;
			}
			&--green {
				background-color: #41a273;
			}
		} */
	}
}
