.skills-section {
	&__title {
		margin-bottom: 34px;
	}

	&__items {
		gap: 12px 0;
		@include media($xs) {
			gap: 6px 0;
		}
	}

	&__item {
		@include flex(0, center, center, nowrap);
		background-color: $bg-grey;
		padding: 24px 16px 24px 38px;
		border-radius: 17px;
		height: 100%;

		@include media($xs) {
			padding: 16px 23px;
		}

		&-icon {
			svg {
				width: 30px;
				height: 21px;
				fill: none;
				stroke-width: 2px;
				stroke: $text-color;
				@include media($xs) {
					width: 24px;
				}
			}
			@include flex(0, center, center);
			margin-right: 16px;
		}

		&-title {
			/* letter-spacing: 1px; */
			font: 22px/35px $baseFF;
		}
	}
}
